.cardGrid {
  display: grid;
  gap: 1.5rem;
  margin: 2rem 0;
}

.cols2 {
  grid-template-columns: repeat(2, 1fr);
}

.cols3 {
  grid-template-columns: repeat(3, 1fr);
}

.cols4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Responsive */
@media (max-width: 996px) {
  .cols3,
  .cols4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cols2,
  .cols3,
  .cols4 {
    grid-template-columns: 1fr;
  }
}
